.button {
  font-family: $ff-heading;
  font-size: rem(16);
  text-transform: uppercase;
  text-align: center;
  color: $clr-neutral-Very-dark-desaturated-blue;
  position: relative;
  &.-full {
    width: rem(140);
    height: rem(56);
    border-radius: rem(24);

    transition: background-color 0.2s ease, color 0.2s ease;
    &:hover {
      color: $clr-neutral-White;
      background-color: rgba($clr-neutral-White, 0.5);
    }
  }
  &.-underline {
    font-weight: 900;
    &:after {
      display: block;
      content: "";
      position: relative;
      inset: rem(-8) 0 0 50%;
      transform: translate(-50%, 0);
      opacity: 0.5;
      width: rem(132);
      height: rem(12);
      border-radius: rem(24);
      z-index: -1;
      transition: opacity 0.2s ease-in-out;
    }
    &.-underline:hover:after {
      opacity: 1;
    }
    &.-yellow:after {
      background-color: $clr-primary-Yellow;
    }
    &.-red:after {
      background-color: $clr-primary-Soft-red;
    }
  }
}

.icon {
  &.-facebook {
    content: url("../images/icon-facebook.svg");
  }
  &.-instagram {
    content: url("../images/icon-instagram.svg");
  }
  &.-twitter {
    content: url("../images/icon-twitter.svg");
  }
  &.-pinterest {
    content: url("../images/icon-pinterest.svg");
  }
}
